body {
  background: url('./../imgs/greg-rakozy-oMpAz-DN-9I-unsplashCropped.jpg'),
    no-repeat, center;
  background-size: 180vh;
}

@font-face {
  font-family: 'strongarmbold_italic';
  src: url('./../fonts/strongarm_bold_italic-webfont.woff2') format('woff2'),
    url('./../fonts/strongarm_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'advent_prosemibold';
  src: url('./../fonts/adventpro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'strongarmbold_italic';
  padding-top: 50px;
  color: white;
  font-size: 3rem;
  text-shadow: black 1px 0 1px;
}
h5 {
  font-family: 'advent_prosemibold';
  color: white;
}

table {
  color: black;
  background-color: white;
}
